/* 
  Unsets elements default backgrounds to allow for transparency effects.
*/

#nav-bar,
#TabsToolbar,
#toolbar-menubar,
#PersonalToolbar,
toolbar {
  background: unset !important;
  background-color: transparent !important;
  border: unset !important;
  box-shadow: unset !important;
  opacity: unset !important;
  &:where(:-moz-window-inactive) {
    background: unset !important;
    background-color: transparent !important;
    border: unset !important;
    box-shadow: unset !important;
    opacity: unset !important;
  }
}
.browser-toolbar {
  background: unset !important;
  background-color: transparent !important;
  opacity: unset !important;
  &:not(.browser-titlebar) {
    background: unset !important;
    background-color: transparent !important;
    opacity: unset !important;
  }
}
#main-window #main-menubar>menu> :is(label, description) {
  color: var(--general_toolbar_text_color, inherit) !important;
  text-shadow: 1px 1px 1px var(--general_toolbar_text_shadow, inherit) !important;
}
#PersonalToolbar {
  background: unset;
}



.browser-titlebar {
  :root[tabsintitlebar] & {
    &:where(:-moz-window-inactive) {
      opacity: unset !important;
      background: unset !important;
      background-color: transparent !important;
    }
  }
}
.browser-titlebar {
  background: unset !important;
  background-color: transparent !important;
}

.browser-titlebar {
  :root[tabsintitlebar] & {
    will-change: unset;
    transition: unset;
    background: unset;
    background-color: transparent !important;
  }
}

.browser-toolbar {
  &:not(.browser-titlebar) {
    background: unset;
    background-color: transparent !important;
  }
}
