/*
  transparency.scss

  Unsets properties of the navbar and other UI elements so it can be made transparent.
*/
toolbar:where(:-moz-window-inactive) {
  background: unset !important;
}
toolbar:not(#nav-bar) {
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  opacity: unset !important;
}
toolbar:not(#nav-bar):where(:-moz-window-inactive) {
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  opacity: unset !important;
}

#main-window #main-menubar > menu > :is(label, description) {
  color: var(--general-toolbar-text-color, inherit) !important;
  text-shadow: unset;
}

#PersonalToolbar {
  background: unset;
}

.browser-titlebar {
  background: unset !important;
}
:root[tabsintitlebar] .browser-titlebar {
  will-change: unset;
  transition: unset;
  background: unset;
}
:root[tabsintitlebar] .browser-titlebar:where(:-moz-window-inactive) {
  opacity: unset !important;
  background: unset !important;
}

/* 
    /userChrome/sidebery.scss

    Provides auto-hiding tab bar with animation
*/
#main-window #TabsToolbar > .toolbar-items {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
  /* Default state: Set initial height to enable animation */
  height: 2.75em !important;
}

#main-window[uidensity=touch] #TabsToolbar > .toolbar-items {
  height: 3.35em !important;
}

#main-window[uidensity=compact] #TabsToolbar > .toolbar-items {
  height: 2.75em !important;
}

#main-window[titlepreface*=XXX] #TabsToolbar > .toolbar-items {
  /* Hidden state: Hide native tabs strip */
  height: 0 !important;
}
#main-window[titlepreface*=XXX] #tabbrowser-tabs {
  /* Hidden state: Fix z-index of active pinned tabs */
  z-index: 0 !important;
}
#main-window[titlepreface*=XXX] #TabsToolbar {
  border: none !important;
}
#main-window[titlepreface*=XXX] #TabsToolbar .titlebar-spacer, #main-window[titlepreface*=XXX] #TabsToolbar .titlebar-buttonbox-container {
  /* Hidden state: Hide window buttons in tabs-toolbar */
  display: none !important;
}
#main-window[titlepreface*=XXX] #navigator-toolbox {
  border: none !important;
}

/* userChrome/_sidebar */
#sidebar-box {
  --sidebar-background-color: rgba(0, 0, 0, 0.8);
}
#sidebar-box:where(:-moz-window-inactive) {
  --sidebar-background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-splitter {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* userChrome/_base.scss */
:root {
  --size-item-small: 10px !important;
  --size-item-medium: 14px !important;
  --size-item-large: 18px !important;
  --button-boder-radius: 10px !important;
  --sidebar-background-color: rgba(map.get($theme-vscode-dark-presets, "background"), 0.9);
}

body {
  font-size: 11.5px;
}

/* userChrome/_tabs */
:root {
  --tab-selected-shadow: 0px !important;
  --tab-selected-bgcolor: map.get($theme-vscode-dark-presets, "accent1") !important;
  --tab-selected-bgcolor-inactive: map.get($theme-vscode-dark-presets, "accent2") !important;
  --tab-min-height: 16px !important;
  --tab-group-label-height: 16px !important;
  --tab-inner-inline-margin: 4px !important;
  --tab-inline-padding: 4px !important;
  --tab-pinned-expanded-background-width: 40px !important;
  --tab-border-radius: 0px !important;
  --tab-shadow-max-size: 0px !important;
  --tab-block-margin: 0px !important;
  --tab-icon-end-margin: 4px !important;
  --tab-label-line-height: 1.2 !important;
  --tab-hover-background-color: #dcdcaa50 !important;
  --tab-outline: 2px solid var(--tab-outline-color) !important;
  --tab-loading-fill: map.get($theme-vscode-dark-presets, "accent1") !important;
  --tab-selected-textcolor: black !important;
  --tabstrip-inner-border: none !important;
  --tabstrip-min-height: 16px !important;
}

.tab-background:is([selected], [multiselected]), .tab-background:where(:-moz-window-inactive) {
  background-color: var(--tab-selected-bgcolor-inactive) !important;
}

/* userChrome/toolbar */
:root {
  --toolbox-non-lwt-bgcolor: rgba(0, 0, 0, 0.8) !important;
  --toolbox-non-lwt-bgcolor-inactive: rgba(0, 0, 0, 0.7) !important;
  --toolbar-non-lwt-bgcolor: rgba(0, 0, 0, 0.8) !important;
  --toolbar-non-lwt-bgcolor-inactive: rgba(0, 0, 0, 0.7) !important;
  --toolbar-start-end-padding: 0px !important;
  --toolbarbutton-outer-padding: 4px !important;
  --toolbarbutton-inner-padding: 4px !important;
  --toolbarbutton-icon-fill: #ffffff !important;
  --toolbarbutton-hover-background: rgba(map.get($theme-vscode-dark-presets, "accent1"), 0.2) !important;
  --toolbarbutton-border-radius: 4px !important;
  --toolbar-field-focus-color: map.get($theme-vscode-dark-presets, "accent1") !important;
  --toolbar-field-focus-border-color: map.get($theme-vscode-dark-presets, "accent1") !important;
  --toolbar-field-color: #ffffff !important;
}

toolbar {
  background-color: rgba(0, 0, 0, 0.8);
}
toolbar:where(:-moz-window-inactive) {
  background-color: rgba(0, 0, 0, 0.7);
}

toolbarbutton#PanelUI-menu-button .toolbarbutton-badge-stack {
  /*     background-color: #9cdcfe !important; */
  /*     border-top-right-radius: 0px !important; */
  /*     border-bottom-right-radius: 0px !important; */
  /*     border-top-left-radius: 10px; */
  /*     border-top-right-radius: 10px; */
  /*     fill: black !important; */
  /*   margin-right: 12px */
  padding: 0px;
}

toolbarbutton#PanelUI-menu-button {
  padding: 10px !important;
}

toolbarbutton#PanelUI-menu-button .toolbarbutton-badge-stack .toolbarbutton-icon {
  height: 16px;
  width: 16px;
}

toolbar .toolbarbutton-1 {
  padding: 5px !important;
}
toolbar .toolbarbutton-1 .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-text, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack > box {
  padding: 0px !important;
  border-radius: 2px !important;
  margin-top: 0px !important;
}

.unified-extensions-item-action-button .toolbarbutton-badge-stack {
  padding: 0px !important;
  border-radius: 0px !important;
  /* width: 20px !important;
    height: 20px !important; */
}

.unified-extensions-item-action-button .toolbarbutton-badge-stack .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
}

.webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 14px;
  width: 14px;
}

#back-button {
  padding-left: 10px !important;
}

/* toolbarbutton#back-button,
toolbarbutton#forward-button {
  &:not([disabled]) {
    fill: black !important;
    background: #9cdcfe !important;
  }

  &[disabled] {
    fill: black !important;
    background: #9cdcfe !important;
  }
} */
#nav-bar {
  border: 0px solid transparent !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: hsl(201, 98%, 80%) !important;
}

#navigator-toolbox {
  border: 0px solid transparent !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-color: hsl(201, 98%, 80%) !important;
}

#nav-bar:where(:-moz-window-inactive),
#navigator-toolbox:where(:-moz-window-inactive) {
  border-color: hsl(305, 31%, 62%) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

/* toolbarbutton#reload-button {
  fill: black !important;

  &[disabled] {
    fill: black !important;
    background: #bd81b8 !important;
  }

  &:not([displaystop]) {
    fill: black !important;
    background: #bd81b8 !important;
  }
} */
/* toolbarbutton#stop-button {
  fill: black !important;
  background: #ce9178 !important;
} */
/* toolbarbutton#stop-button,
toolbarbutton#reload-button {
     border-top-right-radius: 10px; 
     border-top-right-radius: 10px; 
}  */
/* var(--toolbox-non-lwt-bgcolor-inactive) */
:root:not([inFullscreen]),
:root[uidensity=compact]:not([inFullscreen]),
:root[inFullscreen] {
  --uc-bottom-toolbar-height: calc(28px + var(--toolbarbutton-outer-padding)) ;
}

/* Raises the rendering window for the toolbar on the bottom */
#browser,
#customization-container {
  margin-bottom: 32px;
}

#nav-bar {
  position: fixed !important;
  bottom: 0px;
  display: -webkit-box;
  width: 100%;
  height: 32px;
  z-index: 1;
}

/* Put bookmark bar on bottom */
/* #PersonalToolbar {
  position: fixed !important;
  bottom: 32px;
  height: 28px;
} */
#nav-bar-customization-target {
  -webkit-box-flex: 1;
}

/* Fix panels sizing */
.panel-viewstack {
  max-height: unset !important;
}

#main-window #TabsToolbar > .toolbar-items {
  height: 2.75em !important;
}

/* #toolbar-menu, #TabsToolbar, #nav-bar, #PersonalToolbar {
  background-color: rgba(0, 0, 0, 0.9);
} */
/* userChrome/titlebar */
:root {
  --titlebar-bgcolor: rgba(map.get($theme-vscode-dark-presets, "background"), 0.9) !important;
  --titlebar-bgcolor-inactive: rgba(map.get($theme-vscode-dark-presets, "background"), 0.9) !important;
}

.titlebar-spacer[type=pre-tabs], .titlebar-spacer[type=post-tabs] {
  width: 0px;
}

.titlebar-spacer[type=pre-tabs],
.titlebar-spacer[type=post-tabs] {
  width: 0px !important;
}

.titlebar-buttonbox-container {
  display: none;
}

/* userChrome/_urlbar */
:root {
  --urlbar-container-height: 20px !important;
  --urlbar-min-height: 25px !important;
  /*   --urlbar-padding-block: 0px !important; */
  /*   --urlbar-margin-block: 0px !important; */
  /*   --urlbar-icon-padding: 0px !important; */
  --urlbar-icon-radius: 0px !important;
  --urlbar-container-padding: 0px !important;
  --urlbar-margin-inline: 0px !important;
  --urlbar-box-bgcolor: transparent !important;
  --urlbar-box-focus-bgcolor: transparent !important;
  --urlbar-box-hover-bgcolor: transparent !important;
  --urlbarView-favicon-margin-start: 4px !important;
  --urlbarView-favicon-margin-end: 12px !important;
  --urlbarView-hover-background: #dcdcaa50 !important;
  --urlbarView-separator-color: transparent !important;
  --urlbarView-item-inline-padding: 4px !important;
  --urlbarView-item-block-padding: 4px !important;
  --urlbarView-secondary-text-color: #6a9955 !important;
  --urlbarView-highlight-background: transparent !important;
  --urlbarView-highlight-color: #ce9178 !important;
}

#urlbar-background, #searchbar {
  --toolbar-field-background-color: transparent;
  border: none;
}

urlbar-input::placeholder, .searchbar-textbox::placeholder {
  opacity: 0.9 !important;
}

.urlbar-input #urlbar .urlbar-input-container {
  /*   color: #ce9178; */
  position: fixed !important;
  bottom: 0px !important;
}

#urlbar-container {
  color: hsl(201, 98%, 80%);
  --urlbar-container-height: 32px;
  --toolbar-field-unfocused-color: #6a9955 !important;
}
#urlbar-container:not([focused]) {
  color: var(--toolbar-field-unfocused-color);
}

#urlbar {
  --urlbar-height: 30px;
  position: fixed !important;
  bottom: 0px;
}
#urlbar:where([focused]) {
  background-color: black;
}

.urlbar-icon {
  height: 12px;
  width: 12px;
}

/* #urlbar-go-button, 
#search-go-button {
  fill: #9cdcfe;
} */
#urlbar:is([focused], [open]), #searchbar:focus-within {
  color: #9cdcfe !important;
}

#urlbar:is([focused]) {
  background-color: black;
}
#urlbar:is([focused]) > #urlbar-background {
  outline: none !important;
}

#urlbar:is([focused], [open]) {
  background-color: black;
}
#urlbar:is([focused], [open]):not([breakout][breakout-extend]) > #urlbar-background {
  background: none !important;
}

.urlbarView-url {
  color: #6a9955 !important;
}

.urlbarView {
  color: #9cdcfe;
}

.urlbarView-row-inner {
  border: solid 2px transparent !important;
}
.urlbarView-row-inner[selected] {
  border: 2px solid #ce9178 !important;
  border-radius: 10px;
}

#urlbar[breakout][breakout-extend] {
  border-radius: 10px !important;
  border: 2px solid #9cdcfe !important;
  margin-bottom: 40px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  border-radius: 10px !important;
  display: -webkit-box;
  /*   box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.5) !important; */
  backdrop-filter: blur(50px) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

#urlbar[breakout][breakout-extend] > .urlbar-input-container {
  position: fixed !important;
  bottom: 0px;
  border: none !important;
}

#urlbar[breakout][breakout-extend] {
  display: flex !important;
  flex-direction: column-reverse;
  bottom: 0px !important;
  top: auto !important;
}

.urlbarView-body-inner {
  border-top-style: none !important;
}
