/* userChrome/_base.scss */
@use 'sass:map';
@import '../themes/vscode/sass/vscode-theme.scss';

// Stuff that needs to be applied first. Some is erata I otherwise don't have a
// place for.

:root {
  --size-item-small: 10px !important;
  --size-item-medium: 14px !important;
  --size-item-large: 18px !important;

  --button-border-radius: 10px !important;

  --sidebar-background-color: rgba(map.get($theme-vscode-dark-presets, 'background'), 1);
}

body {
  font-size: 11.5px;
}
