/* userChrome/_sidebar */
@use 'sass:map';

#sidebar-box {
  --sidebar-background-color: rgba(0, 0, 0, 0.8);
  &:where(:-moz-window-inactive) {
    --sidebar-background-color: rgba(0, 0, 0, 0.7);
  }
}

.sidebar-splitter {
  width: 1px !important;
  background-color: $theme-vscode-dark-border-color !important;
  border: none !important;
}
