/* userChrome/_sidebar */
@use 'sass:map';

#sidebar-box {
  --sidebar-background-color: rgba(0, 0, 0, 0.8);
  &:where(:-moz-window-inactive) {
    --sidebar-background-color: rgba(0, 0, 0, 0.7);
  }
}

.sidebar-splitter {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
