/* userChrome/_sidebar */
@use 'sass:map';
@import '../themes/vscode/sass/vscode-theme.scss';

#sidebar-box {
  --sidebar-background-color: rgba(0, 0, 0, 0.8);
  &:where(:-moz-window-inactive) {
    --sidebar-background-color: rgba(0, 0, 0, 0.7);
  }
}

.sidebar-splitter {
  width: 1px !important;
  background-color: rgba(33, 33, 33, 0.8);
  border: none !important;
}
