/* userChrome/_tabs */
@use 'sass:map';
@import '../themes/vscode/sass/vscode-theme.scss';

:root {
  --tab-selected-shadow: 0px !important;
  --tab-selected-bgcolor: hsl(201, 98%, 80%) !important;
  --tab-selected-bgcolor-inactive: hsl(305, 31%, 62%) !important;
  --tab-min-height: 16px !important;
  --tab-group-label-height: 16px !important;
  --tab-inner-inline-margin: 4px !important;
  --tab-inline-padding: 4px !important;
  --tab-pinned-expanded-background-width: 40px !important;
  --tab-border-radius: 0px !important;
  --tab-shadow-max-size: 0px !important;
  --tab-block-margin: 0px !important;
  --tab-icon-end-margin: 4px !important;
  --tab-label-line-height: 1.2 !important;
  --tab-hover-background-color: #dcdcaa50 !important;
  --tab-outline: 2px solid var(--tab-outline-color) !important;
  --tab-loading-fill: hsl(201, 98%, 80%) !important;
  --tab-selected-textcolor: black !important;
  
  --tabstrip-inner-border: none !important;
  --tabstrip-min-height: 16px !important;
}

.tabbrowser-tab {
  &:is([visuallyselected], [multiselected]) {
    background-color: var(--tab-selected-bgcolor) !important;
    &:where(:-moz-window-inactive) {
      background-color: var(--tab-selected-bgcolor-inactive) !important;
    }
  }
}
