/* userChrome/titlebar */
@use 'sass:map';
@import '../themes/vscode/sass/vscode-theme.scss';

:root {
    --titlebar-bgcolor: rgba(31, 31, 31, 0.9) !important;
    --titlebar-bgcolor-inactive: rgba(31, 31, 31, 0.9) !important;
}

.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] {
	width: 0px;
}

.titlebar-spacer[type="pre-tabs"], 
.titlebar-spacer[type="post-tabs"] {
  width: 0px !important;
}

.titlebar-buttonbox-container {
  display: none
}
